.sp {
  display: none !important;
}

@include mq("sp") {
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }

  img.sp,
  span.sp,
  br.sp {
    display: inline-block !important;
  }
}
