/* default fonts */

/**
 * Noto Sans CJK JP: https://www.google.com/get/noto/#sans-jpan
 * Noto Sans JP: https://fonts.google.com/earlyaccess#Noto+Sans+JP
 */

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK JP Regular"),
    url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format("woff2"),
    url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format("woff"),
    url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans CJK JP Medium"),
    url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff2) format("woff2"),
    url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff) format("woff"),
    url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans CJK JP Bold"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff2) format("woff2"),
    url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff) format("woff"),
    url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.otf) format("opentype");
}

.fontNotoSans {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

/* ヒラギノ角ゴ */
.fontHiragino {
  font-family: "Hiragino Kaku Gothic ProN W3", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN",
    Meiryo, メイリオ, "Noto Sans JP", sans-serif;
  font-weight: 400;
}

.fontHiragino--w5 {
  font-family: "Hiragino Kaku Gothic ProN W5", "ヒラギノ角ゴ ProN W5", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN",
    Meiryo, メイリオ, "Noto Sans JP", sans-serif;
  font-weight: 500;
}

.fontHiragino--w6,
.fontHiragino--bold {
  font-family: "Hiragino Kaku Gothic ProN W6", "ヒラギノ角ゴ ProN W6", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN",
    Meiryo, メイリオ, "Noto Sans JP", sans-serif;
  font-weight: 700;
}

/* 游明朝体 */
.fontYuMincho {
  font-family: "YuMincho", "MyYuminchoC", "Yu Mincho Demibold", "Yu Mincho", "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", serif;
}

/* 游ゴシック体 */
.fontYuGothic {
  font-family: "游ゴシック体", YuGothic, "Yu Gothic", Roboto, "Segoe UI semibold", "Helvetica Neue", HelveticaNeue,
    "Segoe UI", Verdana, Meiryo, sans-serif;
}

.fontYuGothicMedium {
  font-family: "游ゴシック体", YuGothic, "Yu Gothic Medium", "Yu Gothic", Roboto, "Segoe UI", "Helvetica Neue",
    HelveticaNeue, Verdana, Meiryo, sans-serif;
}
