*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  width: auto;
  height: auto;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

.ua-pc a[href^="tel:"] {
  pointer-events: none;
}
