/* 投稿ページビジュアルモードの時にカスタムフィールドが見づらくなるのを修正 */
.edit-post-layout.is-mode-visual {
  padding-bottom: 24px;
}

/* All in One WP Migration 広告を非表示 */
.ai1wm-row {
  margin-right: 0;
}

.ai1wm-left {
  float: none;
}

.ai1wm-right {
  float: none;
  margin-top: 20px;
  width: 100%;
  display: none;
}

.ai1wm-right .ai1wm-segment {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
