/* break point */
$breakpoints: (
  "pc": "screen and (max-width: 1280px)",
  "tb": "screen and (max-width: 768px)",
  "sp": "screen and (max-width: 767px)",
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin max($width) {
  @media only screen and (max-width: $width + px) {
    @content;
  }
}

@mixin and($minWidth, $maxWidth) {
  @media only screen and (min-width: $minWidth + px) and (max-width: $maxWidth + px) {
    @content;
  }
}

@mixin min($width) {
  @media only screen and (min-width: $width + px) {
    @content;
  }
}

@mixin tablet($width, $height) {
  @media only screen and (device-width: $width + px) and (device-height: $height + px) {
    @content;
  }
}

@mixin device($width, $height) {
  @media only screen and (device-width: $width + px) and (device-height: $height + px) {
    @content;
  }
}

/* ブレークポイントで出し分ける */
.sp,
.tb {
  display: none !important;
}

@include mq("tb") {
  .tb {
    display: block !important;
  }

  a.tb,
  sub.tb,
  sup.tb,
  strong.tb,
  small.tb,
  select.tb,
  label.tb,
  i.tb,
  b.tb,
  img.tb,
  svg.tb,
  span.tb,
  br.tb {
    display: inline-block !important;
  }

  .pc {
    display: none !important;
  }
}

@include mq("sp") {
  .sp {
    display: block !important;
  }

  a.sp,
  sub.sp,
  sup.sp,
  strong.sp,
  small.sp,
  select.sp,
  label.sp,
  i.sp,
  b.sp,
  img.sp,
  svg.sp,
  span.sp,
  br.sp {
    display: inline-block !important;
  }
}
